.top-section {
  width: 90%;
  height: 80vh;
  margin: 5vh auto 5vh;
  background: linear-gradient(
    180deg,
    rgba(247, 209, 217) 0%,
    rgb(247, 209, 217) 50%,
    rgb(202, 247, 244) 50%,
    rgba(202, 247, 244) 100%
  );
  @include flex-display(row, space-evenly, center, 0);
  padding: 0 3rem;
}

.wear1 {
  height: 100%;
}

h2 {
  text-align: center;
  font-size: 8rem;
  line-height: 1.5;
  font-weight: 300;
  color: rgb(211, 55, 231);
  margin-bottom: 4rem;
}

header {
  @include flex-display(row-reverse, space-between, center, 0);
  .logo {
    @include flex-display(row-reverse, space-between, center, 1rem);
    font-size: 3rem;
    font-weight: 400;
  }
  width: 100%;
  padding: 2rem 5% 0;
  height: 70px;
  .logo-pic {
    width: 90px;
  }

  .menu1 {
    @include flex-display(row-reverse, center, center, 0);
    > li {
      font-size: 3rem;
      cursor: pointer;
      padding: 0 2rem;
      &:hover {
        color: rgb(229, 60, 252);
        transition: color 0.3s;
      }
    }
    .assortment {
      position: relative;
      > span {
        transition: transform 0.5s;
        margin-right: 0.5rem;
      }
      &:hover {
        > span {
          transform: rotate(180deg);
        }
        > ul {
          color: #000;
          transform: scaleY(1);
          transform-origin: 50% 0;
        }
      }
    }
    .assortment-menu {
      position: absolute;
      top: 95%;
      left: 1px;
      width: 100%;
      background-color: white;
      text-align: right;
      padding: 1rem 2rem;
      line-height: 1.5;
      transition: transform 0.5s;
      transform: scaleY(0);
      transform-origin: 50% 0;
      border-radius: 10px 10px 0 0;
      border: 1px solid rgb(229, 60, 252);
      border-top: 5px solid rgb(229, 60, 252);
      padding-bottom: 2rem;
      > li {
        @include flex-display(row, space-between, top, 0);
        & > span {
          padding-top: 1.5rem;
        }
        span:hover , ul>li:hover {
          color: rgb(229, 60, 252);
        }
      }
    }
  }
  .assortment-menu > li > div > ul {
    padding-right: 1rem;
    display: none;
    & > li {
      font-size: 2rem;
    }
  }
  .menu2 {
    @include flex-display(row-reverse, center, center, 1rem);
    > li {
      font-size: 1.5rem;
      &:hover {
        .fa {
          color: blueviolet;
          transition: color 0.3s;
        }
      }
    }
    .search {
      margin: 0 2rem;
      padding: 0.2rem 0.9rem;
      border-radius: 50%;
      background-color: rgba(240, 217, 243, 0.301);
      cursor: pointer;
    }
    .basket {
      position: relative;
      span {
        position: absolute;
        top: 3%;
        left: 50%;
        border-radius: 50%;
        background-color: rgba(210, 55, 231, 0.925);
        font-size: 0.8rem;
        width: 24px;
        height: 24px;
        text-align: center;
        color: white;
      }
    }
  }
}
