@font-face {
  font-family: "MyFont";
  src: url("../assets/fonts/IranNastaliq.eot") format("eot"), url("../assets/fonts/IranNastaliq.woff") format("woff"), url("../assets/fonts/IranNastaliq.ttf") format("truetype");
}
@font-face {
  font-family: "NumberFont";
  src: url("../assets/fonts/BNazanin.eot") format("eot"), url("../assets/fonts/BNazanin.woff") format("woff"), url("../assets/fonts/BNazanin.ttf") format("truetype");
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: MyFont;
}

body, main {
  max-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
}

main {
  padding: 5vh 5vw;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

@keyframes goUp {
  from {
    opacity: 0;
    transform: translateY(30%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  width: 100%;
  padding: 2rem 5% 0;
  height: 70px;
}
header .logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-size: 3rem;
  font-weight: 400;
}
header .logo-pic {
  width: 90px;
}
header .menu1 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 0;
}
header .menu1 > li {
  font-size: 3rem;
  cursor: pointer;
  padding: 0 2rem;
}
header .menu1 > li:hover {
  color: rgb(229, 60, 252);
  transition: color 0.3s;
}
header .menu1 .assortment {
  position: relative;
}
header .menu1 .assortment > span {
  transition: transform 0.5s;
  margin-right: 0.5rem;
}
header .menu1 .assortment:hover > span {
  transform: rotate(180deg);
}
header .menu1 .assortment:hover > ul {
  color: #000;
  transform: scaleY(1);
  transform-origin: 50% 0;
}
header .menu1 .assortment-menu {
  position: absolute;
  z-index: 99;
  top: 95%;
  left: 1px;
  width: 100%;
  background-color: white;
  text-align: right;
  padding: 1rem 2rem;
  line-height: 1.5;
  transition: transform 0.5s;
  transform: scaleY(0);
  transform-origin: 50% 0;
  border-radius: 10px 10px 0 0;
  border: 1px solid rgb(229, 60, 252);
  border-top: 5px solid rgb(229, 60, 252);
  padding-bottom: 2rem;
}
header .menu1 .assortment-menu > li {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
  gap: 0;
}
header .menu1 .assortment-menu > li > span {
  padding-top: 1.5rem;
}
header .menu1 .assortment-menu > li span:hover,
header .menu1 .assortment-menu > li ul > li:hover {
  color: rgb(229, 60, 252);
}
header .assortment-menu > li > div > ul {
  padding-right: 1rem;
  display: none;
}
header .assortment-menu > li > div > ul > li {
  font-size: 2rem;
}
header .menu2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
header .menu2 > li {
  font-size: 1.5rem;
}
header .menu2 > li:hover .fa {
  color: blueviolet;
  transition: color 0.3s;
}
header .menu2 .search {
  margin: 0 2rem;
  padding: 0.2rem 0.9rem;
  border-radius: 50%;
  background-color: rgba(240, 217, 243, 0.301);
  cursor: pointer;
}
header .menu2 .basket {
  position: relative;
}
header .menu2 .basket span {
  position: absolute;
  top: 3%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(210, 55, 231, 0.925);
  font-size: 0.8rem;
  width: 24px;
  height: 24px;
  text-align: center;
  color: white;
}

.top-section {
  width: 100%;
  min-width: 100%;
  height: 80vh;
  background: linear-gradient(180deg, rgb(247, 209, 217) 0%, rgb(247, 209, 217) 50%, rgb(202, 247, 244) 50%, rgb(202, 247, 244) 100%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 0;
  padding: 0 3rem;
}

.top {
  position: relative;
}
.top h2 {
  text-align: center;
  font-size: 8rem;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 4rem;
}

.change-circle {
  position: absolute;
  top: 92%;
  left: 93%;
}
.change-circle > span {
  cursor: pointer;
}

.wear0,
.wear2 {
  height: 100%;
}

.wear1 {
  width: 50%;
}

.section2 {
  min-width: 100%;
  width: 100%;
  height: 450px;
  padding-top: 3.5rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.section2 > div {
  width: 100%;
  flex: 1;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 5rem;
}
.section2 > div:hover > h2,
.section2 > div:hover a {
  opacity: 1;
  transform: translateY(0);
}
.section2 > div > h2,
.section2 > div a {
  color: white;
  font-size: 4rem;
  text-align: center;
  opacity: 0;
}
.section2 > div > a {
  background-color: rgb(207, 40, 230);
  border-radius: 5px;
  width: 70%;
  height: 75px;
  line-height: 1;
  transform: translateY(-20px);
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}
.section2 > div > a:hover::before {
  transform: translateX(0);
}
.section2 > div > a::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: rgba(238, 119, 253, 0.842);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transform: translateX(-102%);
  transition: transform 0.5s cubic-bezier(0.32, 2, 0.55, 0.27);
  z-index: -1;
}
.section2 > div > h2 {
  font-weight: 300;
  background-color: rgba(0, 0, 0, 0.4784313725);
  width: 100%;
  height: 25%;
  transform: translateY(100%);
  transition: all 0.5s ease;
  cursor: pointer;
  line-height: 1.6;
}
.section2 #bags-part {
  background-image: url("../assets/8.png");
}
.section2 #belts-part {
  background-image: url(../assets/9.png);
}
.section2 #clothes-part {
  background-image: url(../assets/7.jpg);
}
.section2 #abaya-part {
  background-image: url(../assets/10.png);
}

.anim-class {
  animation: goUp 0.5s ease-in-out 1;
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding: 5rem 2rem;
}
.section3 > h3 {
  font-size: 7rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  opacity: 0;
}
.section3 > div {
  display: grid;
  grid-template-columns: 265.36px 265.36px 265.36px 265.36px;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3rem;
  width: 100%;
}
.section3 > div > figure {
  position: relative;
  min-width: 100%;
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid rgba(248, 249, 252, 0.662745098);
  height: 540px;
  padding-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
.section3 > div > figure:hover {
  box-shadow: rgba(200, 207, 214, 0.2) 0px 8px 24px;
}
.section3 > div > figure:hover a {
  text-decoration: underline;
}
.section3 > div > figure:hover .basket-on-img {
  transform: scale(1.05);
}
.section3 > div > figure > img {
  background-color: rgba(248, 249, 252, 0.662745098);
  width: 100%;
  height: 340px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 1rem;
}
.section3 > div > figure > figcaption {
  padding-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
}
.section3 > div > figure > figcaption > P {
  display: inline;
}
.section3 > div > figure > figcaption > span {
  font-family: NumberFont;
}
.section3 > div > figure > figcaption > i {
  display: block;
}
.section3 > a {
  font-size: 2.2rem;
  border: 1.6px solid rgb(207, 40, 230);
  color: rgb(207, 40, 230);
  padding: 0 3rem;
  border-radius: 5px;
  position: relative;
  overflow-y: hidden;
  transition: color 0.5s ease;
}
.section3 > a::before {
  content: "";
  background-color: rgb(207, 40, 230);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: -100%;
  left: 0;
  transition: top 0.5s cubic-bezier(0.32, 2, 0.55, 0.27);
  z-index: -1;
}
.section3 > a:hover {
  color: white;
}
.section3 > a:hover::before {
  top: 0;
}

.star {
  color: gold;
}

.basket-on-img {
  padding: 10px 9px;
  text-align: center;
  color: rgb(212, 212, 212);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  transform: scale(1);
  transition: transform 0.5s linear;
  cursor: pointer;
}

.section4 {
  margin-bottom: 3rem;
  width: 100%;
  height: 90vh;
  background-image: url("../assets/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  line-height: 1.2;
}
.section4::after {
  content: "";
  background-color: rgba(79, 65, 87, 0.2392156863);
  position: absolute;
  width: 100%;
  height: 100%;
}
.section4 > p {
  color: white;
  font-size: 10rem;
  z-index: 99;
}
.section4 > a {
  color: white;
  position: relative;
  background-color: rgb(207, 40, 230);
  padding: 0 2rem 0.5rem;
  font-size: 3rem;
  z-index: 99;
  border-radius: 5px;
  overflow: hidden;
  transition: color 0.5s ease;
}
.section4 > a::before {
  content: "";
  background-color: rgb(188, 38, 207);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  transform: scaleX(0);
  transform-origin: 0;
  transition: transform 0.5s cubic-bezier(0.32, 2, 0.55, 0.27);
  z-index: -1;
}
.section4 > a:hover {
  color: white;
}
.section4 > a:hover::before {
  transform: scaleX(1);
}

.section5 {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.section5 > div {
  height: 100%;
  flex: 1;
  background-position: center;
  background-size: cover;
}
.section5 .div51 {
  background-image: url("../assets/clothe1.png");
}
.section5 .div52 {
  background-image: url("../assets/bag2.png");
}/*# sourceMappingURL=style.css.map */